# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/hotlovers"

# SMTP Hostinger
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="smtp@hotlovers.online"
SMTP_PASS="Lala147??"
FROM_EMAIL="noreply@hotlovers.online"
FROM_NAME="HotLovers"

# JWT
JWT_SECRET="hotlovers_jwt_secret_super_secure_2024"
JWT_EXPIRES_IN="7d"

# App
NEXTAUTH_SECRET="hotlovers_nextauth_secret_2024"
NEXTAUTH_URL="http://localhost:3000"

# Redis (para sessões)
REDIS_URL="redis://localhost:6379"

# App Config
APP_ENV="development"
APP_NAME="HotLovers"
APP_URL="http://localhost:3000"